.product-details-container {
    margin-top: 42px;
    padding-left: 40px;
    padding-right: 40px;
}

.product-details {
    padding: 50px 60px 90px 60px;
}

.product-details-image{
    &:focus,
    &:hover{
        transform: scale(1.2);
        transition: all 0.5s ease-in;
    }
    transition: 1s;
}

.product-details-goback {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.icon-goback {
    color: #407bff;
    transform: rotate(-180deg);
    margin-right: 30px;
}

.text-goback{
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #263238;
}

.product-details .product-price {
    font-size: 48px;
}

